@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
}
  
a   {
    text-decoration: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

p {
    color: grey;
    line-height: 25px;
}

/*-----------head---------*/
.head {
    position: relative;
    z-index: 10;
    color: white;
}
  
.head .content {
    padding: 30px;
}

.head span {
    opacity: 0.7;
    margin-top: 15px;
}

.head hr {
    width: 30px;
    height: 1px;
    margin: 20px 0 0 20px;
    background: white;
    opacity: 0.7;
}

.social_media i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #aaa575;
    border: 2px solid #aaa575;
    border-radius: 50%;
    margin-left: 20px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.5s;
}

.social_media i:hover {
    border: 2px solid #fff;
    color: white;
}

.logo img {
    height: 150px;
    width: 150px;
}
  
/*-----------head---------*/

/*-----------header---------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: #aaa575;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    margin: 20px;
    display: block;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 13px;
    right: 32px;
    font-size: 38px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}

.sidenav a:hover {
    color: #dcccbc;
}

.menu_items {
    margin-top: 20px;
}
  
.hamburger-icon {
    position: absolute;
    z-index: 1000;
    right: 14%;
    top: 30px;
    cursor: pointer;
    display: inherit;
}
/*-----------header---------*/

/*-----------home---------*/
.home img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
  
.home .heading {
    position: relative;
    z-index: 10;
    color: #dcccbc;
    text-align: center;
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
}

.heading h1 {
    font-size: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 120px;
}
  
.heading h1 span {
    color: #87814b;
}
  
.heading p {
    color: #dcccbc;
    line-height: 30px;
    font-size: 18px;
    opacity: 0.7;
}
  
button {
    padding: 25px 80px;
    background: #87814b;
    border: none;
    color: #dcccbc;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}
  
button:hover {
    background: #dcccbc;
    color: #87814b;
}
/*-----------home---------*/

/*-----------menu---------*/
.top {
    margin-top: 220px;
}
  
.container {
    max-width: 90%;
    margin: auto;
}

.produtos {
    margin: 30px;
    display: flex;
    flex-direction: row;
    
}

.produtos2 {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.produtos img:hover {
    width: 230px;
    height: 230px;
    transition: all 0.5s;
}

.produtos2 img:hover {
    width: 230px;
    height: 230px;
    transition: all 0.5s;
}

.produtos img {
    width: 200px;
    height: 200px;

}

.produtos2 img {
    width: 200px;
    height: 200px;
}

.heading h2 {
    font-size: 50px;
    margin-top: 15px;
}
  
.heading h5 {
    color: #87814b;
    font-size: 25px;
}
  
.menu {
    text-align: center;
}
  
.menu h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
/*-----------menu---------*/
/*-----------wrapper---------*/
.heading2 h1 {
    font-size: 100px;
    font-weight: 800;
    line-height: 80px;
    color: white;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.507);
}

.heading2 h1 span {
    -webkit-text-stroke-width: 1px;
    color: #5e5933;
}
  
.left, .right {
    width: 50%;
    margin: 20px;
}
  
.wrapper {
    color: white;
    background-image: url("w11.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
  
.wrapper .left, .wrapper .right {
    padding-top: 10%;
}

.wrapper .right img {
    float: right;
}

.wrapper .text {
    margin-top: 30px;
    margin-bottom: 50px;
}

.wrapper i {
    font-size: 40px;
    margin-right: 20px;
}

.wrapper .btn1 {
    margin-left: 20px;
}

.add h5 {
    font-size: 40px;
    color: white;
}

.add label {
    font-size: 35px;
}

.btn1 {
    background: black;
    color: white;
    transition: 0.5s;
}

.btn1:hover {
    background: white;
    color: black;
}

/*-----------wrapper---------*/
/*-----------list---------*/
.menu_list {
    margin-top: 4%;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
}
  
.list {
    background: #dfd5b4;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
.list p {
    color: black;
    font-weight: bold;
    margin-top: 20px;
  }
  
.list .box {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 50px;
  }
  
.list .box:nth-child(3), .list .box:nth-child(6) {
    border: none;
  }
  
/*-----------list---------*/
/*-----------menu_list---------*/
.menu_list .heading {
    text-align: center;
}
  
.menu_list .box {
    margin-top: 20px;
}
  
.menu_list img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
  
.menu_list .text {
    margin-top: 25px;
}
  
.menu_list p {
    margin-top: 5px;
}
  
.menu_list hr {
    width: 40%;
    height: 2px;
    margin-top: 5%;
    border-top: 2px dotted grey;
}
  
.menu_list .price h5 {
    margin-top: 20px;
}
  
/*-----------menu_list---------*/
/*-----------product---------*/
.product {
    text-align: center;
    padding: 50px;
}

  
.product img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.product .grid {
    grid-template-columns: repeat(4, 1fr);
}
  
.product .flex {
    justify-content: center;
    margin: 5px;
}
  
.product .flex i {
    margin: 5px;
    font-size: 12px;
    color: #f4c402;
}
  
.product h5 {
    font-size: 25px;
}


.product h4 {
    font-weight: 800;
    font-size: 17px;
    margin: 5px;
}
  
.product h5 {
    color: #87814b;
}
  
  /*-----------product---------*/
  /*-----------brand---------*/
.brand {
    background: #dfd5b4;
    padding-top: 45px;
    padding-bottom: 45px;
}
  
.brand .grid {
    grid-template-columns: repeat(5, 1fr);
}
  
.brand img {
    width: 90%;
    height: 90%;
    transition: 0.5s;
}
  
.brand img:hover {
    transform: scale(1.1);
}
  /*-----------brand---------*/
  /*-----------image---------*/
.image .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
}
  
.image .box {
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}
  
.image .img {
    overflow: hidden;
}
  
.image img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  
.image img:hover {
    transform: scale(1.2);
  }
  
.image .icon i {
    width: 50px;
    height: 50px;
    background: #87814b;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
}
  
.image .box:hover .icon i {
    opacity: 1;
}
  
  /*-----------image---------*/
  /*-----------footer---------*/
footer {
    background-image: url("footer.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    color: white;
  }
  
  .footerbg {
    background: rgba(0, 0, 0, 0.5);
  }
  
  footer .content {
    padding: 80px;
  }
  
  footer h3 {
    color: #87814b;
    font-size: 25px;
    font-weight: 800;
    border-bottom: 3px solid #87814b;
    margin-bottom: 50px;
  }
  
  footer p {
    margin-top: 20px;
    color: white;
    opacity: 0.7;
    margin-bottom: 30px;
  }
  
  footer .icon i {
    color: #87814b;
    margin-right: 30px;
  }
  
  footer .address .item {
    margin-bottom: 30px;
  }
  
  footer .address i {
    font-size: 25px;
    margin-right: 20px;
  }
  
  footer .address h5 {
    color: #87814b;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  footer .input {
    background: white;
    border-radius: 50px;
    margin-bottom: 20px;
  }
  
  footer input {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 20px;
  }
  
  footer .submit {
    background: #87814b;
    padding: 30px 60px;
    color: white;
    font-weight: 800;
    border-radius: 50px;
  }
  
  .legal {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .legal p {
    margin: 0;
    padding: 30px 0px 30px 80px;
  }


